a {
    color: inherit;
    text-decoration: none;
}

Link {
    color: inherit;
    text-decoration: none;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoText {
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.logo img {
    height: 50px;
}

.contents {
    display: flex;
    align-items: center;
    color: #ED1556;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
}

.navItem {
    margin-right: 20px;
}

.btns {
    margin-right: 20px;
    padding: 4px 10px;
    border: 2px solid #ED1556;
    outline: none;
    border-radius: 4px;
    color: #ED1556;
}

.btns:hover {
    color: white;
    background: #ED1556;
}

button {
    background: #ED1556;
    padding: 6px 10px;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #ED1556;
}