* {
    box-sizing: border-box;
}

.home {
    height: auto;
    width: 100%;
    overflow: auto;
}

.top {
    height: 450px;
    width: 100%;
    background: #503794;
    display: flex;
}

.topLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mainTitle {
    font-size: 36px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnContainer{
    margin-top: 25px;
}

.middle {
    height: 450px;
    width: 100%;
    background: white;
}

.btn {
    background-color: #ED1556;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 25px;
}

.topRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bottom{
    height: 450px;
    width: 100%;
    background: white;
    display: flex;
}

.bottomLeft {
    font-size: 36px;
    /* color: #503794; */
    color: #ED1556;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bottomRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrContainer{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.arrItems{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
}